.a
{
  border-top-style: outset;
  border-top-width: 4px;
  border-top-color:orange;
  background-color:Grey;
  text-align:center;
  padding-bottom:20px;
  padding-top:10px;
  margin-right:0;
  color:white;
}
.h li{
  display:inline;
  padding:10px;
  text-decoration:none;
  color:white;
}
a
{
 text-decoration:none;
 color:white;
}
.la{
	background-image:url("cat2.jpg");
	width:1300px;
    height:630px;
    background-repeat:no-repeat;
    background-size:cover;
    margin-left:0;
    padding-top:190px;
    padding-left:32px;	
	color:white;
	font-size:30px;
	font-weight:bold;
	min-width:160px;
	
}
select{
	text-align:center;
	border:1px solid white;
	
}

